#wrapper {
    font: 14px/1.4 'Source Sans Pro', sans-serif;
    width: 1000px;
    background-color: #FFF;
    margin-left: auto;
    margin-right: auto;
    border: 10px ridge #0C4700;
}

#header {
    height: 127px;
    width: 100px;
}

#logo {
    padding:5px;
    position: relative;
    left: 10px;
    
}

#title {
    position: relative;
    width: 700px;
    left: 260px;
    top: -160px;
    
}

#menu {
    position:relative;
    height: 600px;
    width: 150px;

}
#content {
    position:relative;
    width:700px;
    left:200px;
    bottom: 600px;
}

th {
    text-align: left;
}

#content {
    border: 2px solid #00FF00;
    background: #F0FFF0;
    padding: 10px;
}
